<div class="calculadora card">
  <input
    id="resultado"
    type="text"
    class="calculadora-pantalla z-depth-1"
    value={{valorPantalla}}
    disabled
  />

  <div class="botones-calculadora">
    <button
      id="mas"
      type="button"
      class="operator btn btn-info"
      value="+"
      (click)="introducirValor('+')"
    >
      +
    </button>
    <button
      id="menos"
      type="button"
      class="operator btn btn-info"
      value="-"
      (click)="introducirValor('-')"
    >
      -
    </button>
    <button
      id="por"
      type="button"
      class="operator btn btn-info"
      value="*"
      (click)="introducirValor('*')"
    >
      &times;
    </button>
    <button
      id="entre"
      type="button"
      class="operator btn btn-info"
      value="/"
      (click)="introducirValor('/')"
    >
      &divide;
    </button>

    <button
      id="siete"
      type="button"
      value="7"
      class="btn btn-light waves-effect"
      (click)="introducirValor(7)"
      >
      7
    </button>
    <button
      id="ocho"
      type="button"
      value="8"
      class="btn btn-light waves-effect"
      (click)="introducirValor(8)"
      >
      8
    </button>
    <button
      id="nueve"
      type="button"
      value="9"
      class="btn btn-light waves-effect"
      (click)="introducirValor(9)"
      >
      9
    </button>

    <button
      id="cuatro"
      type="button"
      value="4"
      class="btn btn-light waves-effect"
      (click)="introducirValor(4)"
    >
      4
    </button>
    <button
      id="cinco"
      type="button"
      value="5"
      class="btn btn-light waves-effect"
      (click)="introducirValor(5)"
    >
      5
    </button>
    <button
      id="seis"
      type="button"
      value="6"
      class="btn btn-light waves-effect"
      (click)="introducirValor(6)"
      >
      6
    </button>

    <button
      id="uno"
      type="button"
      value="1"
      class="btn btn-light waves-effect"
      (click)="introducirValor(1)"
    >
      1
    </button>
    <button
      id="dos"
      type="button"
      value="2"
      class="btn btn-light waves-effect"
      (click)="introducirValor(2)"
    >
      2
    </button>
    <button
      id="tres"
      type="button"
      value="3"
      class="btn btn-light waves-effect"
      (click)="introducirValor(3)"
    >
      3
    </button>

    <button
      id="cero"
      type="button"
      value="0"
      class="btn btn-light waves-effect"
      (click)="introducirValor(0)"

    >
      0
    </button>
    <button
      id="decimal"
      type="button"
      class="decimal function btn btn-secondary"
      value="."
      (click)="introducirValor('.')"
    >
      .
    </button>
    <button
      id="limpiar"
      type="button"
      class="all-clear function btn btn-danger btn-sm"
      value="all-clear"
      (click)="limpiar()"
    >
      AC
    </button>

    <button
      id="igual"
      type="button"
      class="resultado operator btn btn-default"
      value="="
      (click)="calcular()"
    >
      =
    </button>
  </div>
</div>
